{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
{% else %}
    {% if request.session.username %}
        <p>Welcome, {{ request.session.username }}!</p>
    {% else %}
        <p>Welcome, Guest!</p>
    {% endif %}
{% endif %}

<h2 class="text-center mb-4">Lobbies</h2>
    <form action="/create-lobby/" method="post" class="button-form">
        {% csrf_token %}

        <input type="hidden" name="action" value="submit">
        <button type="submit" class="btn btn-join">Create lobby</button>
    </form>
<div class="table-responsive">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Player Names</th>
                <th>Players</th>
                <th>Join</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in lobbies.items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        {% for player_profile in value.player_profiles.values %}
                            {{ player_profile.user.username }}: {{player_profile.elo_rating}} ELO
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        {{ value.current_players }}/{{ value.max_players }}
                    </td>
                    <td><button class="btn btn-join" onclick="window.location.href='/lobby/{{ key }}';">Join</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}