{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}

{% block content %}
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
{% else %}
    {% if request.session.username %}
        <p>Welcome, {{ request.session.username }}!</p>
    {% else %}
        <p>Welcome, Guest!</p>
    {% endif %}
{% endif %}

<h2 class="text-center mb-4">Lobbies</h2>
    <button class="btn btn-join" onclick="window.location.href='/create-lobby/';" style="margin: 10px">Create lobby</button>
<div class="table-responsive">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Player Names</th>
                <th>Players</th>
                <th>Join</th>
            </tr>
        </thead>
        <tbody>
            {% for key,lobby in lobbies.items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        {% for player in lobby.players %}
                            {% with profile=lobby.player_profiles|get_item:player %}
                                {% if profile %}
                                    {{ player.username }}: {{ profile|get_elo }} ELO
                                {% else %}
                                    {{ player }}: --GUEST--
                                {% endif %}
                            {% endwith %}
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        {{ lobby.current_players }}/{{ lobby.max_players }}
                    </td>
                    <td><button class="btn btn-join" onclick="window.location.href='/lobby/{{ key }}';">Join</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}